<h1>Edit Item</h1>

<% @item = Item.find(params[:format]) %>
<%= form_for @item, url: update_item_path, method: :patch do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "name" %>
    <%= form.hidden_field :id, value: @item[:id] %>
    <%= form.hidden_field :list_id, value: @item[:list_id] %>
  </div>
  <div class="mb-3">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: "form-control", placeholder: "quantity" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Update Item", class: "btn btn-primary" %>
  </div>
<% end  %>