<div class="d-flex align-items-center justify-content-center">
  <h1>Shopping List App</h1>
</div>
  <div class="d-flex align-items-center justify-content-center">
  <h2><i>Your friendly shopping list helper!</i></h2>
</div>
<h3>Sign In</h3>

<%= form_with url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
  </div>
<% end %>

<h4>Not already a member?</h4>
<%= link_to "Sign Up", sign_up_path, class: "btn btn-primary", role: "button"%>
